:root {
		--light-color: #FEFEFE;
		--darkblue-color: hsl(243, 87%, 12%);
		--desaturatedblue-color: hsl(238, 22%, 44%);
		--brightblue-color: hsl(224, 93%, 58%);
		--moderatecyan-color: hsl(170, 45%, 43%);
		--lightgrayishblue-color: hsl(240, 75%, 98%);
		--lightgray-color: hsl(0, 0%, 75%);

		--padding-container: 100px 0;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--light-color);
	font-family: 'Open Sans', sans-serif;
	font-family: 'Raleway', sans-serif;
	font-size: 15px;
}

.container {
		width: 90%;
		max-width: 1440px;
		margin: 0 auto;
		padding: var(--padding-container);
		overflow: hidden;
}

img {
		max-width: 100%;
}


/* ----------- Hero Section ----------- */

.hero {
		font-family: 'Open Sans', sans-serif;
		--padding-container: 0 0 80px 0;
		position: relative;
		min-height: 100vh;
}

.hero__nav {
	height: 80px;
	padding: 16px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.nav__figure {
	width: 30%;

	display: grid;
	place-items: center;
}

.nav__links {
	list-style: none;

	display: flex;
	align-items: center;
	justify-content: space-between;
}

.nav__item {
	margin-left: 1rem;
}

.nav__link {
	color: #212121;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 400;
	text-decoration: none;
}


.hero__content {
	display: grid;
	grid-gap: 1rem;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr;
	place-items: center;
}

.content__texts {
	display: grid;
	grid-gap: 1.5rem;
	place-items: center;
	text-align: center;
}

.hero__title {
	font-size: 1.6rem;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
}

.hero__paragraph {
		font-family: 'Open Sans', sans-serif;
}

.form {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 1rem;

}

.form .hidden {
		width: 100%;
		height: 48px;
}

.form.error .hidden {
		width: 100%;
		height: 60px;
}

.message__error {
		display: block;
		color: crimson;
		font-size: 14px;
		text-align: start;
		margin: 8px 0;
}


.form.error .message__error {
		display: block;
		color: crimson;
		font-size: 14px;
		text-align: start;
		margin: 8px 0;
}

.hero__input {
	border: thin solid #212121;
	border-radius: 4px;
	font-size :15px;
	opacity: 1;
	outline: none;
	padding: 12px 24px;
	position: relative;
	width: 100%;
}

.hero__input::placeholder {
		color: var(--lightgray-color);
}

.form.error .hero__input {
	border: thin solid crimson;
}


.hero__btn {
		background-color: var(--brightblue-color);
		border: none;
		border-radius: 4px;
		color: var(--light-color);
		padding: 12px 24px;
		font-weight: 700;
}

.hero__btn:active {
		background-color: hsla(224, 93%, 58%, .8);
}

.content__figure {
	order: -1;
}


/* ----------- work Section ----------- */

.work {
		position: relative;
		background-color: var(--lightgrayishblue-color);
		--padding-container: 100px 0 80px 0;
}

.work__container {
		display: grid;
		place-items: center;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 2fr;
		grid-gap: 3rem;
}

.bg-shape {
		background-image: url('../assets/images/bg-curve-mobile.svg');
		background-position: center;
		background-size: cover;
		background-color: var(--light-color);

		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 100px;
}


.work__texts {
	grid-row: 2/3;

	display: grid;
	grid-gap: 1.8rem;
	place-items: center;
}

.work__title {
	text-align: center;
	font-size: 1.2rem;
}

.work__paragraph {
		color: #545454;
		opacity: .9;
		font-family: 'Open Sans', sans-serif;
		font-size: 15px;
}

.work__cta {
		position: relative;
		color: var(--moderatecyan-color);
		font-family: 'Open Sans', sans-serif;
		font-weight: 400;
		text-decoration: none;
		margin-bottom: 1.2rem;

		display: flex;
		align-items: center;
		gap: 1rem;
}

.work__cta::after {
		content: "";
		display: block;
		width: 98%;
		height: 2px;
		background-color: var(--moderatecyan-color);
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		top: 35px;
}

.cta__img {
	width: 32px;
	height: 32px;
}

.work__card {
		background-color: var(--light-color);
		border-radius: 8px;
		box-shadow: 0 0 10px 10px rgba(0, 0, 0, .03);
		margin: 1rem;
		padding: 32px;
		font-family: 'Open Sans', sans-serif;

		display: grid;
		grid-gap: 16px;
}

.card__quotes {
}

.card__paragraph {
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
}

.card__person {
	display: flex;
	align-items: center;
	gap: 12px;
}

.card__img {
		width: 48px;
		height: 48px;
		border-radius: 50%;
		object-fit: cover;
}

.card__name {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: 14px;
}

.card__founder {
		font-family: 'Open Sans', sans-serif;
		font-size: 12px;
}

.work__figure {
		grid-row: 1/2;
	width: 100%;
}

.work__img {
		width: 100%;
}



/* ----------- access Section ------------ */

.access {
		background-color: var(--desaturatedblue-color);
		--padding-container: 50px 0 80px 0;
		color: var(--light-color);
}

.access__texts {
	padding: 12px;
	display: grid;
	grid-gap: 1rem;
	place-items: center;
	text-align: center;
}

.access__paragraph {
	margin-bottom: 1rem;
}

.form__access  {
		width: 100%;

		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 12px;

}

.hidden {
		width: 80%;
}

.message__error {
		display: none;
}

.form__access .error .message__error {
		display: block;
		color: crimson;
		font-size: 14px;
		text-align: start;
		margin: 8px 0;
}

.access__input {
		display: block;
		border: thin solid #aeabab;
		border-radius: 4px;
		font-size :15px;
		opacity: 1;
		outline: none;
		padding: 12px 16px;
		position: relative;
		width: 100%;
}

.access__input::placeholder {
	color: var(--lightgray-color);
}

.form__access .error .hero__input {
	border: thin solid crimson;
}


.form__access .hidden {
	width: 80%;
	height: 48px;
}

.form__access.error .hidden {
	width: 80%;
	height: 60px;
}

.message__error {
		display: none;
}


.form__access.error .message__error {
		display: block;
		color: var(--light-color);
		font-size: 12px;
		text-align: start;
		margin: 4px 0 8px 0;
}


		.form__access.error .access__input {
		border: 1px solid crimson;
}


.access__btn {
		background-color: var(--brightblue-color);
		border: none;
		border-radius: 4px;
		color: var(--light-color);
		padding: 12px 24px;
		font-weight: 700;
		width: 80%;
}

.access__btn:active {
		background-color: hsla(224, 93%, 58%, .8);
}


/* ----------- footer Section ------------ */

.footer {
		background-color: var(--darkblue-color);
		color: var(--light-color);
		--padding-container: 80px 16px 80px 16px;
}

.footer__container {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 3fr;
	grid-gap: 3rem;
}

.footer_contact {
	grid-row: 1/2;

	display: grid;
	gap: 1.4rem;
}

.d-flex {
		display: flex;
		align-items: center;
		gap: 1rem;
}


.footer__links {
		grid-row: 2/3;

		display: grid;
		grid-gap: 2.5rem;
}

.links__items {
		list-style: none;

		display: flex;
		flex-direction: column;
		align: flex-start;
		gap: 1rem;
}

.links_link {
		color: var(--light-color);
		font-family: 'Open Sans', sans-serif;
		font-size: 16px;
		text-decoration: none;
}

.links__socials {
		margin: 0 auto;
}

.link__social {
		border: 1px solid var(--light-color);
		border-radius: 50%;
		padding: 8px;
}






/* ----------- Media Queries -------------- */

@media screen and (min-width: 768px) {

		/* ----------- Hero Section ----------- */

		.hero {
				--padding-container: 0 0 80px 0;
		}

		.hero__container {
				height: 100vh;
				display: grid;
				grid-template-rows: 80px auto;
		}

		.hero__nav {
				height: 80px;
				margin-top: 1rem;
				padding: 16px 0;
				display: flex;
				align-items: center;
				justify-content: space-between;
		}

		.nav__figure {
				width: 30%;
				display: grid;
				place-items: start;
		}

		.nav__img {
				width: 30%;
		}

		.hero__content {
				display: grid;
				grid-gap: 1rem;
				grid-template-columns: repeat(9, 1fr);
				grid-template-rows: 1fr;
		}

		.content__texts {
				grid-column: 1/5;
				display: grid;
				grid-gap: 1.5rem;
				place-items: center;
				text-align: start;
		}

		.hero__title {
				font-size: 2.5rem;
		}

		.hero__paragraph {
				font-size: 19px;
		}

		.form {
				width: 100%;
				flex-direction: row;
				gap: 1rem;
		}

		.form .hidden {
				width: 100%;
				height: 80px;
		}

		.form.error .hidden {
				width: 100%;
				height: 80px;
		}

		.hero__input {
				border: thin solid var(--lightgray-color);
				width: 100%;
		}

		.hero__btn {
				width: 40%;
				height: 44px;
		}

		.content__figure {
				grid-column: 6/-1;
				order: 0;
		}


		/* ----------- work Section ----------- */

		.work {
				--padding-container: 100px 0 80px 0;
		}

		.work__container {
				grid-template-columns: 1fr 1fr;
				grid-template-rows: 1fr;
				grid-gap: 3rem;
		}

		.bg-shape {
				background-image: url('../assets/images/bg-curve-desktop.svg');
		}

		.work__texts {
				grid-column: 1/2;

				display: grid;
				grid-gap: 1.8rem;
				place-items: start;
		}

		.work__title {
				text-align: center;
				font-size: 2.4rem;
		}

		.work__paragraph {
				width: 80%;
				color: #545454;
				font-size: 16px;
		}

		.work__card {
				max-width: 315px;
				margin: 0;
		}

		.work__figure {
				grid-row: 2/3;
				width: 100%;
		}

		.work__img {
				width: 100%;
		}

		/* ----------- access Section ------------ */

		.access {
				--padding-container: 50px 0 50px 0;
		}

		.access__container {
				display: flex;
				justify-content: space-between;

		}

		.access__texts {
				place-items: start;
				text-align: start;
				flex-basis: 50%;
		}

		.access__title {
			text-align: start;
			font-size: 1.8rem;
		}

		.access__paragraph {
				margin-bottom: 1rem;
				line-height: 1.5;
				font-size: 18px;
				width: 80%;
		}

		.form__access  {
				width: 100%;
				flex-basis: 40%;

				display: flex;
				flex-direction: column;
				align-items: flex-start;
				justify-content: center;
				gap: 12px;

		}

		.form__access .hidden {
				width: 100%;
				height: 48px;
		}

		.form__access.error .hidden {
				width: 100%;
				height: 60px;
		}

		.message__error {
				display: none;
		}


		.form__access.error .message__error {
				display: block;
				color: var(--light-color);
				font-size: 12px;
				text-align: start;
				margin: 4px 0 8px 0;
		}


		.form__access.error .access__input {
				border: 1px solid crimson;
		}

		.access__input {
				display: block;
				border: none;
				border: thin solid #aeabab;
				border-radius: 4px;
				font-size :15px;
				opacity: 1;
				outline: none;
				padding: 12px 16px;
				position: relative;
				width: 80%;
				max-width: 500px;
		}

		.access__btn {
				display: block;
				width: max-content;
		}

		/* ----------- footer Section ------------ */

		.footer {
				--padding-container: 80px 16px 80px 16px;
		}

		.footer__container {
				display: grid;
				grid-template-columns: 1fr 4fr;
				grid-template-rows: 1fr;
				grid-gap: 3rem;
		}

		.footer_contact {
				grid-row: 1/2;
				grid-column: 1/2;

				display: grid;
				grid-template-rows: 110px 40px 40px;
				place-items: start;
				gap: 0;
		}

		.footer__figure {
				grid-row: 1/2;
		}

		.footer__phone {
				grid-row: 2/3;
		}

		.footer__email {
				grid-row: 3/4;
		}

		.d-flex {
				display: flex;
				align-items: center;
				gap: 1rem;
		}


		.footer__links {
				grid-row: 1/2;
				grid-column: 2/-1;

				display: grid;
				grid-template-columns: 1fr 1fr 1fr;
				grid-template-rows: 1fr 2fr;
				grid-gap: 5px;
				place-items: self-start;
		}

		.links__items--1 {
				grid-row: 2/3;
				grid-column: 1/2;
		}

		.links__items--2 {
				grid-row: 2/3;
				grid-column: 2/3;
		}

		.links_link {
				color: var(--light-color);
				font-family: 'Open Sans', sans-serif;
				font-size: 16px;
				text-decoration: none;
		}

		.links__socials {
				margin: 0;
				grid-row: 2/3;
				grid-column: 3/-1;
		}

}


@media screen and (min-width: 998px) {
		.footer__container {
				grid-gap: 10rem;
		}

		.footer__links {
				grid-gap: 2.5rem;
		}
}